* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.logo-img {
    width: 100%;
    max-width: 32px;
    height: 32px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    color: black;
}

.navbar {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    align-items: center;
    display: flex;
    gap: 32px;
}

.nav-item {
    font-size: 16px;
    font-weight: 500;
    color: #4B5563;
    text-decoration: none;
}

.nav-item:hover {
    color: #8B5CF6;
}

.nav-item.active {
    color: #8B5CF6;
}

.btn {
    display: inline-block;
    padding: 10px 24px;
    background-color: #8B5CF6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.footer {
    background-color: #E5E7EB;
    margin: 0px
}

.footer-menu {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 80px;
    display: flex;
    gap: 32px;
}

.footer-logo {
    color: #4B5563;
    padding-right: 32px;
    font-size: 16px;
    width: 285px;
}

.footer-item {
    width: 285px;
}

.footer-item>p {
    font-size: 16px;
    margin-bottom: 16px;
    color: #111827;
    font-weight: bold;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #4B5563;
}

.hero_container {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
    padding: 17px 0;
    box-sizing: border-box;
}

.hero_container>h1 {
    margin-top: 0;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.hero_container>p {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    color: #4B5563;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}

.hero_btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 40px;
}

.btn_started {
    font-size: 18px;
    font-weight: 600;
    padding: 18px 32px;
}

.btn_live {
    font-size: 18px;
    font-weight: 600;
    padding: 18px 32px;
    background-color: #F3F4F6;
    color: #111827;
    text-decoration: none;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
}

.hero_img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 40px auto 0;
}

.feature_home {
    background-color: #F9FAFB;
}

.feature_menu {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 80px 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.feature_item {
    flex: 1 1 calc((100% - 64px) / 3);
    box-sizing: border-box;
    min-height: 300px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    padding: 32px;
}

.feature_icon {
    width: 48px;
    height: 48px;
}

.feature_item>h3 {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.feature_item>p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #4B5563;
}

.cta_container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 24px;
    text-align: center;
}

.cta_container>h2 {
    font-size: 48px;
    font-weight: 700;
}

.cta_container>p {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    color: #4B5563;
}

.hero_features {
    background: linear-gradient(to bottom, #EFF6FF, #E0E7FF);
}

.hero_features_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 24px;
    text-align: center;
}

.hero_features_container>h1 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 60px;
    font-weight: 700;
}

.hero_features_container>p {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    color: #4B5563;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.cta_features {
    background: linear-gradient(to right, #2563EB, #354DDA, #4338CA);
}

.cta_features_container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 24px;
}

.cta_features_container>h2 {
    font-size: 48px;
    font-weight: 700;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    color: #FFFFFF;
}

.cta_text {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    max-width: 600px;
    margin: 20px auto 32px;
    color: #DBEAFE;
}

.cta_btn {
    background-color: white;
    color: #2563EB;
    font-size: 18px;
    font-weight: bold;
}

.cta_credit_text {
    font-size: 14px;
    color: white;
}

.pricing_main {
    background-color: #F9FAFB;
}

.pricing_container {
    padding: 80px 24px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.hero_pricing {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
}

.hero_pricing>h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 auto;
}

.hero_pricing>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #4B5563;
    width: 100%;
    max-width: 590px;
    margin: 20px auto;
}

.pricing_card {
    padding-top: 32px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 22px;
    justify-content: center;
}

.card_menu {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 362px;
    min-height: 484px;
    padding: 33px;
    flex: 1 1 calc((100% - 44px) / 3);
    box-sizing: border-box;
}

.card_item>h3 {
    font-size: 24px;
    font-weight: 600;
    color: #111827;
    margin: 0 auto;
}

.card_item>h2 {
    font-size: 36px;
    font-weight: 700;
    color: #111827;
    margin: 16px auto;
}

.duration {
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
}

.card_item>p {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
}

.item_list {
    text-align: left;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    font-size: 16px;
    color: #374151;
    font-weight: 400;
}

.tick {
    color: #22C55E;
    width: 16px;
    height: 12px;
    font-weight: bolder;
    padding-right: 12px;
}

.recommend_card {
    min-height: 508px;
    border: 2px solid #A855F7;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.recomment_item>h2 {
    color: #9333EA;
}

.recommend_tick {
    color: #9333EA;
}

.pricing_btn {
    background-color: #111827;
    color: white;
    border-radius: 12px;
    padding: 15px 100px;
    font-size: 16px;
    font-weight: 600;
}

.recommend_btn {
    background-color: #9333EA;
}

.pricing_note_text {
    font-size: 16px;
    color: #4B5563;
}

.pricing_contact_text {
    font-size: 14px;
    color: #4B5563;
}

.pricing_contact {
    color: #9333EA;
    text-decoration: none;
}

.pricing_contact:hover {
    text-decoration: underline;
}

.hero_about_container {
    width: 100%;
    max-width: 890px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 24px;
}

.hero_about_container>h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero_about_container>p {
    width: 100%;
    max-width: 654px;
    margin: 0 auto;
    line-height: 33px;
    font-size: 20px;
    font-weight: 400;
    color: #4B5563;
}

.story_about {
    background-color: #F9FAFB;
}

.story_about_container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 80px 24px;
    display: flex;
    align-items: center;
    gap: 64px;
    justify-content: center;
}

.story_text {
    width: 100%;
    max-width: 576px;
}

.story_text>h2 {
    font-size: 30px;
    font-weight: 700;
}

.story_text>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #374151;
}

.story_img {
    width: 100%;
    max-width: 576px;
}

.story_img>img {
    display: block;
    width: 100%;
    max-width: 448px;
    height: auto;
}

.mission_about_container {
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: 80px 24px;
}

.mission_text {
    width: 100%;
    max-width: 1088px;
}

.mission_text>h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 auto 24px;
}

.mission_text>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #4B5563;
    width: 100%;
    max-width: 594px;
    margin: 0 auto;
}

.mission_menu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 32px;
    padding: 64px 24px;
}

.mission_item {
    width: 100%;
    max-width: 341px;
    padding: 32px;
    background-color: #F9FAFB;
    border-radius: 16px;
}

.mission_item>img {
    width: 64px;
    height: 64px;
}

.mission_item>h3 {
    font-size: 20px;
    font-weight: 600;
}

.mission_item>p {
    width: 100%;
    max-width: 258px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #4B5563;
}

.team_about {
    background-color: #F9FAFB;
}

.team_about_container {
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    padding: 80px 24px;
    justify-content: center;
    text-align: center;
}

.team_text {
    width: 100%;
    max-width: 1088px;
    margin: 0 auto;
}

.team_text>h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 auto 10px;
}

.team_text>p {
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    color: #4B5563;
}

.team_menu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 32px;
    padding: 64px 24px;
}

.team_item {
    width: 100%;
    max-width: 248px;
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.team_item>img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 50%;
}

.team_item>h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 24px auto 8px;
}

.team_item>p {
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
}

.social_logo img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.hero_demo {
    background: linear-gradient(to right, #2563EB, #1D4ED8, #6B21A8);
}

.hero_demo_container {
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    padding: 180px 24px;
    justify-content: center;
    text-align: center;
}

.hero_demo_container>h1 {
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
}

.hero_demo_container>p {
    width: 100%;
    max-width: 631px;
    font-size: 20px;
    font-weight: 400;
    color: #DBEAFE;
    margin: 0 auto;
}

.demo_btn {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
}

.watch_btn {
    background-color: #FFFFFF;
    color: #2563EB;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 600;
}

.learn_btn {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.action_demo_container {
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    padding: 80px 24px;
    justify-content: center;
    text-align: center;
}

.action_text {
    width: 100%;
    max-width: 1088px;
    margin: 0 auto;
}

.action_text>h2 {
    font-size: 30px;
    font-weight: 700;
}

.action_text>p {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

video {
    width: 100%;
    max-width: 1088px;
    height: auto;
    border-radius: 16px;
    margin-top: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.demo_feature_menu {
    width: 100%;
    max-width: 1088px;
    margin: 0 auto;
}

.cta_demo {
    background: linear-gradient(to right, #2563EB, #7E22CE);
}

.cta_demo_container {
    width: 100%;
    max-width: 896px;
    margin: 0 auto;
    padding: 80px 24px;
    justify-content: center;
    text-align: center;
}

.cta_demo_container>h2 {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
}

.cta_demo_text {
    font-size: 20px;
    font-weight: 400;
    color: #DBEAFE;
    width: 100%;
    max-width: 669px;
    line-height: 28px;
    margin: 0 auto 32px;
}

.cta_demo_btn {
    background-color: #FFFFFF;
    color: #2563EB;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.cta_demo_credit {
    font-size: 14px;
    font-weight: 400;
    color: #BFDBFE;
}

.hero_learn {
    background: linear-gradient(to right, #EFF6FF, #FFFFFF, #E0E7FF);
}

.hero_learn_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 140px 24px;
    display: flex;
    gap: 48px;
    justify-content: center;
}

.learn_hero_text {
    width: 100%;
    max-width: 616px;
    margin: 0 auto;
}

.hero_heading {
    width: 100%;
    max-width: 563px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}

.hero_proflow_text {
    color: #3B82F6;
}

.learn_hero_text>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: #4B5563;
}

.learn_hero_btn {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.learn_freetrial_btn {
    background-color: #3B82F6;
    color: #FFFFFF;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.learn_demo_btn {
    background-color: transparent;
    color: #374151;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #374151;
}

.workflow_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 24px;
    justify-content: center;
    text-align: center;
}

.workflow_text>h2 {
    font-size: 36px;
    font-weight: 400;
}

.workflow_text>p {
    font-size: 20px;
    font-weight: 400;
    color: #4B5563;
}

.workflow_menu {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.workflow_menu_container {
    width: 100%;
    max-width: 616px;
    margin: 0 auto;
}

.workflow_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 26px;
}

.workflow_icon {
    width: 49px;
    height: 52px;
}

.workflow_item_text {
    width: 100%;
    max-width: 508px;
    margin: 0 auto;
}

.workflow_item_text>h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.workflow_item_text>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4B5563;
    margin: 0 auto;
    text-align: left;
}

.workflow_img {
    width: 100%;
    max-width: 616px;
    height: auto;
}

.proflow {
    background-color: #F9FAFB;
}

.proflow_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 24px;
    box-sizing: border-box;
    text-align: center;
}

.proflow_text>h2 {
    font-size: 36px;
    font-weight: 400;
}

.proflow_text>p {
    font-size: 20px;
    font-weight: 400;
    color: #4B5563;
    margin: 0 auto;
}

.proflow_menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    box-sizing: border-box;
    text-align: left;
}

.proflow_item {
    width: 100%;
    max-width: 360px;
}

.proflow_item>h3 {
    font-weight: 400;
}

.proflow_item>p {
    font-weight: 400;
    font-size: 16px;
    color: #4B5563;
}

.proflow_icon {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback_container {
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    padding: 80px 24px;
    justify-content: center;
    text-align: center;
}

.feedback_text>h2 {
    font-size: 36px;
    font-weight: 400;
}

.feedback_text>p {
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    color: #4B5563;
}

.feedback_user_menu {
    width: 100%;
    max-width: 1152px;
    display: flex;
    gap: 32px;
    margin: 64px auto;
}

.feedback_user {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 16px;
    text-align: left;
}

.user_one {
    background: linear-gradient(to right, #EFF6FF, #E0E7FF);
}

.user_two {
    background: linear-gradient(to right, #F0FDF4, #D1FAE5);
}

.user_info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user_img {
    width: 64px;
    height: 64px
}

.user_name {
    font-size: 16px;
    font-weight: 400;
    color: #111827;
    margin: 0;
}

.user_profession {
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
    margin: 0;
}

.feedback_description {
    font-size: 16px;
    line-height: 28px;
    font-style: italic;
    color: #374151;
}

.rating {
    display: flex;
    gap: 4px;
}

.rating i {
    color: #FBBF24;
    font-size: 18px;
}

.cta_learn {
    background: linear-gradient(to right, #3B82F6, #1E40AF);
}

.cta_learn_container {
    width: 100%;
    max-width: 896px;
    margin: 0 auto;
    padding: 80px 24px;
    justify-content: center;
    text-align: center;
}

.cta_learn_container>h2 {
    font-size: 48px;
    font-weight: 400;
    color: #FFFFFF;
}

.cta_learn_text {
    width: 100%;
    max-width: 588px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #DBEAFE;
}

.cta_learn_btn {
    background-color: #FFFFFF;
    color: #3B82F6;
    margin-top: 32px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.cta_learn-credit {
    font-size: 16px;
    font-weight: 400;
    color: #BFDBFE;
}

.hero_contact_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 24px;
}

.hero_contact_container>h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero_contact_container>p {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.contact {
    background-color: #E5E7EB;
}

.contact_container {
    display: flex;
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    padding: 64px 24px;
    gap: 64px;
    justify-content: center;
}

.contact_form_container {
    width: 100%;
    max-width: 584px;
}

.form_card {
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.contact_form>h2 {
    font-size: 24px;
    font-weight: 700;
}

.form_menu {
    width: 100%;
    max-width: 520px;
}

.form_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form_label {
    font-size: 14px;
    font-weight: 400;
    color: #374151;
}

.form_input {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 14px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    font-size: 14px;
    background: #FFFFFF;
}

.form_textarea {
    height: 146px;
    resize: vertical;
}

.form_btn {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.contact_info {
    width: 100%;
    max-width: 584px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info_container>h2 {
    font-size: 24px;
    font-weight: 700;
}

.info_item {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 16px;
}

.info_icon {
    width: 48px;
    height: 48px;
}

.info_text>h3 {
    font-size: 16px;
    font-weight: 700;
}

.info_text>p {
    font-size: 16px;
    font-weight: 400;
}

.location>h2 {
    font-size: 20px;
    font-weight: 700;
}

.location_map {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.location_map iframe {
    display: block;
    width: 100%;
    height: 256px;
}

.office_hours {
    background-color: #9333EA;
}

.office_hours_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 64px 24px;
    text-align: center;
}

.office_hours_container>h2 {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}

.office_hours_menu {
    display: flex;
    width: 100%;
    max-width: 896px;
    margin: 0 auto;
    justify-content: center;
    gap: 32px;
}

.office_hours_item {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 277px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.office_hours_item>h3 {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.office_hours_item>p {
    font-size: 16px;
    font-weight: 400;
    color: #F3E8FF;
}

.login_container {
    padding: 80px 24px;
    width: 100%;
    max-width: 448px;
    margin: 0 auto;
    justify-content: center;
}

.login_form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.login_text>h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.login_text>p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #4B5563;
}

.login_form_input {
    width: 100%;
}

.login_form_item {
    position: relative;
}

.password_toggle {
    position: absolute;
    right: 12px;
    top: 60%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: #6B7280;
}

.login_form_text {
    font-size: 14px;
    font-weight: 400;
    color: #4B5563;
    text-align: center;
}

.signup_text {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.signup_icon {
    width: 64px;
    height: 64px;
    ;
}

.signup_text>h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.signup_text>p {
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
    text-align: center;
}

.checkbox {
    margin: 12px 0;
}

.checkbox_input {
    width: 16px;
    height: 16px;
}

.checkbox_label {
    font-size: 14px;
    font-weight: 400;
    color: #4B5563;
}

.signup_btn {
    background: linear-gradient(to bottom, #9333EA, #4F46E5);
}

.freetrial_btn {
    background: linear-gradient(to bottom, #9333EA, #7E22CE);
}

.freetrial_creadit {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.freetrial_creadit>img {
    width: 14px;
    height: 14px;
}

.freetrial_creadit>p {
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
}